<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>CreateRequestServlet</servlet-name>
        <servlet-class>net.paygate.saml.servlet.CreateRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicACSServlet</servlet-name>
        <servlet-class>net.paygate.saml.opensaml.PublicACSServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateRequestServlet</servlet-name>
        <url-pattern>/sso/saml/CreateRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicACSServlet</servlet-name>
        <url-pattern>/sso/saml/acs</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>